@keyframes circular1 {
    0% {
        top: 5%;
        left: 45%
    }
    10% {
        top: 20%;
        left: 25%
    }
    20% {
        top: 40%;
        left: 5%
    }
    30% {
        top: 60%;
        left: 20%
    }
    40% {
        top: 80%;
        left: 35%
    }
    50% {
        top: 95%;
        left: 50%
    }
    60% {
        top: 80%;
        left: 75%
    }
    70% {
        top: 60%;
        left: 95%
    }
    80% {
        top: 40%;
        left: 75%
    }
    90% {
        top: 20%;
        left: 60%
    }
    100% {
        top: 5%;
        left: 45%
    }
}