@keyframes OpenModalWindow {
    0% {
        top: 100%;
    }
    50% {
        top: 50%;
    }
    100% {
        top: 0;
    }
}

@keyframes CloseModalWindow {
    0% {
        top: 0;
    }
    50% {
        top: 50%;
    }
    100% {
        top: 100%;
    }
}
